body{
  font-size: 12px!important;
}
.Border{
  /*border-top: 3px solid #E5E5E5;*/
  border-bottom: 3px solid #E5E5E5;
}
.Font{
  font-size: 12px;
}

.van-button--default{
  background-color: #0033CC;
  color: white;
}

.listRow{
  background-color: #fafafa;
}
.van-checkbox__label{
  color: darkolivegreen!important;
  font-size: 14px!important;
}
.Font-color{
  color: #0033CC;
}