.Border{
  /*border-top: 3px solid #E5E5E5;*/
  border-bottom: 3px solid #E5E5E5;
}
.Font{
  font-size: 12px;
}
.van-nav-bar{
  background-color: #FF7159;
}
.van-nav-bar__title{
  color: white;
}
.van-nav-bar__text{
  color: white;
}
.van-icon-arrow-left:before{
  color: white;
}

.van-button--default{
  background-color: #FF7159;
  color: white;
}

.listRow{
  background-color: #fafafa;
}